.ttbyq {
    width: 400px;
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    margin: 40بكسلتلقائي;
    box-shadow: #00000022;
}

.rsalh {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 16px;
    border-radius: 8px;
    background-color: #f8f9fa;
}

.shryt_aladkhal {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 16px;
}

.hql {
    padding: 10px;
    font-size: 18px;
    width: 150px;
    border-radius: 6px;
    border: #cccccc;
    text-align: center;
}

.zr_tkhmyn {
    padding: 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    border: none;
}

.zr_tkhmyn:hover {
    background-color: black;
}

.mhawlat {
    font-size: 16px;
    color: gray;
    margin: 8px;
}

.zr_aaadh {
    padding: 8px;
    font-size: 14px;
    background-color: #6c757d;
    color: white;
    border-radius: 6px;
    border: none;
    margin: 16px;
}
