.hawyh {
    padding: 30px;
    text-align: center;
    width: 300px;
    border-radius: 12px;
}

.shashh_aladad {
    font-size: 48px;
    font-weight: bold;
    color: blue;
    display: block;
    padding: 20px;
}

.azrar {
    display: flex;
    gap: 10px;
    justify-content: center;
}
