#mhtwa {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
}

.btaqh {
    display: block;
    width: 400px;
    text-align: center;
}

button {
    background: blue;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: black;
}
